.albumImages{
    
    align-items: center;
    height: auto;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#main{
    background-image:  url("images/background.jpg");
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}
#titleBar{
    height: 130px;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 100px 0px 100px;
}
#titleBar:before{
    position:absolute;
    z-index:-1;
    top:60px;
    left:0;
    
    width:100%;
    height:3%;
    content:"";
    background-color:rgb(77, 77, 77, 0.4);
    
}
#title{
    font-size: 65px;
    font-family: Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-image: linear-gradient(1deg, #ffffff, #2e2e2e);
    background-clip: text;
    color: transparent;
}
.titleLinks{
  
    color: rgb(226, 226, 226);  
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:rgba(255, 217, 0, 0.692)
}
#eventsGrid{
    height: 275px;
    width:1200px;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   justify-content: center;

   

}
#event1{
    width: 1000px;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 150px;
    background-color: rgb(77, 77, 77, 0.4);
}
#event2{
    width: 1000px;
    align-items: center;
    justify-content: center;
    height: 75px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 150px;
    background-color: rgb(77, 77, 77, 0.4);
}
#event3{
    width: 1000px;
    align-items: center;
    justify-content: center;
    height: 75px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 150px;
    background-color: rgb(77, 77, 77, 0.4);
}
#event4{
    width: 1000px;
    align-items: center;
    justify-content: center;
    height: 75px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 150px;
    background-color: rgb(77, 77, 77, 0.4);
}
#event5{
    width: 1000px;
    align-items: center;
    justify-content: center;
    height: 75px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 75px;
    grid-gap: 150px;
    background-color: rgb(77, 77, 77, 0.4);
}

#events{
    height:725px;
    width:1892px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    padding-top: 30px;
    
}
#eventsTitle{
    padding-bottom: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-image: linear-gradient(1deg, #ffffff, #a8a8a8);
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    text-decoration-color: #a8a8a8;
}
#eventsDesc{
    width: 1000px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap:150px;
    margin-bottom: -15px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
}
.dateText{
    font-style: italic;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.breaks{
    font-style: italic;
    font-size: 12px;
}
#img-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
figcaption{
    text-align: center;
    font-weight: bold;
    color: rgba(255, 220, 220, 0.4);
}
#tribute-link{
    display: flex;
    justify-content: center;
}
#tribute-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    color: rgba(105, 83, 83, 0.719);
}

